body {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

header{
    padding: 20px;
    margin: 20px;
}

.logo {
    height: 150px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mainnav {
    background: #663300;
    padding: 15px;
}

    .mainnav a {
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 10px;
        text-decoration: none;
    }

        .mainnav a:hover {
            background-color: #ffe600;
            color: #1e1e1e;
        }

h1, h2{
    font-family: 'Jua', sans-serif;
    text-align: center;
    padding-top: 8px;
}

p {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 20pt;
    text-align:center;
}

table {
    font-family: 'Jua', sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

    table td, th {
        border: 1px solid #ddd;
        padding: 10px;
    }

    table tr:nth-child(even) {background-color:#f2f2f2;}

    table th {
        padding: 10px;
        text-align: center;
        background-color: #ffe600;
        color: #1e1e1e;
    }

.txtbox {
    width: 200px;
    padding: 5px;
    box-sizing: border-box;
}

figure {
    display: inline-block;
    padding: 10px;
}

#login {
    padding: 15px;
}

    #login figure {
        font-family: 'Do Hyeon', sans-serif;
        font-size: 18pt;
    }

#reg {
    padding: 15px;
}

    #reg figure {
        font-family: 'Do Hyeon', sans-serif;
        font-size: 18pt;
    }

.btnreg, .btnlogin {
    font-family: 'Jua', sans-serif;
    width: 150px;
    padding: 5px;
    background-color: #ffe600;
    color: #1e1e1e;
    border-color: #ffe600;
    font-size: 18px;
}


footer {
    background: #663300;
    padding: 10px;
    color: #f2f2f2;
}

    footer p {
        font-family: 'Jua', sans-serif;
        text-align: center;
    }


