/****** Object:  Table [dbo].[AdminAcc]    Script Date: 14/04/2020 13:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminAcc](
	[AdminID] [nvarchar](50) NOT NULL,
	[AdminPass] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 14/04/2020 13:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[ImgID] [int] NOT NULL,
	[ImgName] [nvarchar](50) NULL,
	[ImgType] [nvarchar](100) NULL,
	[Img] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ImgID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 14/04/2020 13:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProdID] [nvarchar](10) NOT NULL,
	[ProdImg] [varbinary](max) NULL,
	[ProdName] [nvarchar](100) NOT NULL,
	[ProdDesc] [nvarchar](200) NULL,
	[ProdPrice] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProdID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAcc]    Script Date: 14/04/2020 13:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAcc](
	[UserID] [nvarchar](50) NOT NULL,
	[UserPass] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AdminAcc] ([AdminID], [AdminPass]) VALUES (N'Adm1n!', N'orange567')
INSERT [dbo].[UserAcc] ([UserID], [UserPass]) VALUES (N'bubbles79', N'icy123')
